.navbar {
    position: absolute;
    top: 0;
    width: 100%;

    &.ui-scrollfix {
    	position:fixed;
    	top:0;
    	z-index: 100;
    }
}

.navbar.navbar-bright {
	border-radius: 0;
	margin-bottom: 0;
	background-color: $brand-secondary;
	border: none;
	color: rgba(0,0,0,0.8);
	font-size: 14px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	z-index: 2;

	.navbar-brand {
		text-transform: uppercase;
		font-weight: bold;
	}

	.navbar-search input {
		border: none;
		background-color: rgba(255, 255, 255, 0.5);
		box-shadow: none;
	}
	.navbar-nav li {
		margin-right: 5px;
	}
	.navbar-nav li a {
		border-radius: 3px;
		margin: 7px 0;
		padding-top: 7px;
		padding-bottom: 7px;
		transition: 0.12s background-color;
	}
	.navbar-nav > li.active > a {
		background-color: white;
	}
	.nav > li > a:hover, .nav > li > a:focus {
		background-color: rgba(255,255,255, 0.75);
		color: rgba(0,0,0,0.87);
	}
	.nav > li.active > a:hover, .nav > li.active > a:focus {
		background-color: white;
	}

	.navbar-search .dropdown-menu {
		max-width: 400px;
		li > a {
			white-space: normal;
			cursor: pointer;
		}
	}
}


@media (max-width: $screen-xs-max) { 
	.navbar.ui-scrollfix {
		position: static;
	}
}