$page-nav-link-padding: 7px 15px;

.page-nav {
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    color: rgba(0,0,0,0.5);
}
.page-nav .nav-pills {
    display: inline-block;
    margin-bottom: -7px;
    a {
        padding: $page-nav-link-padding;
    }
}
.page-nav {
    // height: 60px;
    background-color: white;
    z-index: 99;
}
.sticky {
    height: 20px;
}
.sticky.ui-scrollfix .page-nav {
    position: fixed;
    top: 50px;
    width: 100%;
}