<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">Edit {{ vm.disorder.title }} in {{ vm.classification.title }}</h4>
    </div>
    <form role="form">
        <div class="modal-body">
            <div class="form-group">
                <div>
                    Change the parent of <strong>{{ vm.disorder.title }}</strong>:
                </div>
                <div style="margin-top: 10px;">
                    {{ vm.parent.title }} <i class="fa fa-arrow-right"></i> {{ vm.newParent.title }}   
                </div>
            </div>
            
            <!-- <div class="form-group">
                <label>
                    {{ vm.propertyLabel }}
                </label>
                <select ng-model="vm.prevalenceClass" ng-options="class as class.title for class in vm.prevalenceClasses" class="form-control"></select>
            </div> -->
            <div class="form-group">
                <label>
                    Explain the change
                </label>
                <textarea msd-elastic="\n" ng-model="vm.reason" class="form-control" rows="10"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <div class="pull-left">
                <div style="">
                    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/aaroni/48.jpg" style="width:35px;height:35px" alt="" />&nbsp;&nbsp;Dr John Smith
                </div>
            </div>
            
            <button class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
            <button type="submit" class="btn btn-primary" ng-click="vm.proposeChanges(yo)">Propose Change</button>
        </div>
    </form>
</div>
