<div>
    <dl class="dl-horizontal properties-dl-horizontal">
        <dt>
            Disorder Type
        </dt>
        <dd cm-edit editing="isEditing" click="editDisorderType()" border="bottom">
            {{ disorder.disorder_distype.title || 'Unknown' }}
        </dd>
    </dl>
    <dl class="dl-horizontal properties-dl-horizontal">
        <dt>
            Age of Onset
        </dt>
        <dd cm-edit editing="isEditing" click="editAgeOfOnset()" border="bottom">
            <div class="text-muted" data-ng-hide="disorder.disorder_onset.length">
                Unknown
            </div>
            <div ng-repeat="onset in disorder.disorder_onset">
                {{ onset.title }}
            </div>
        </dd>

        <dt>
            Age of Death
        </dt>
        <dd cm-edit editing="isEditing" click="editAgeOfDeath()" border="bottom">
            <div class="text-muted" data-ng-hide="disorder.disorder_death.length">
                Unknown
            </div>
            <div ng-repeat="death in disorder.disorder_death">
                {{ death.title }}
            </div>
        </dd>

        <dt>
            Type of Inheritance
        </dt>
        <dd cm-edit editing="isEditing" click="editTypeOfInheritance()" border="bottom">
            <div class="text-muted" ng-hide="disorder.disorder_inheritance.length">
                Unknown
            </div>
            <div ng-repeat="inheritance in disorder.disorder_inheritance"
                 class="detail-info">
                {{ inheritance.title }}
            </div>
        </dd>
    </dl>
</div>