<style>
.selected {
    font-weight: bold;
    border-right: 2px solid #FFDA00;
}
.selected-card {
    border: 2px solid #FFDA00;
}
.tree {

}
.tree-branch {

}
.tree-branch-item {
    border-bottom: 1px solid #eee; 
    padding: 10px; 
    position: relative;
}
.tree-branch-item-arrow {
    position: absolute; 
    top: 0; 
    left: 0;
    display: block;
    background-color: #eee; 
    width: 20px; 
    padding:10px 0;
    text-align: center; 
    line-height: 1.5; 
    height: 100%
}
.tree-branch-item-content {
    padding-left: 20px;
}
.tree-branch-children {
    border-left: 20px solid #eee;
}
.tree-branch-children-loading {
    display: block;
    padding: 10px;
    text-align: center;
    border-left: 20px solid #eee;
    border-bottom: 1px solid #eee;
}
</style>
<div class="container">

    <div class="title">
        <div class="pull-right text-muted text-right" ng-hide="disorderTracker.active()">
            <!-- TODO: add time -->
            Updated: {{ vm.classification.changed * 1000 | date:'d/M/yyyy' }}
        </div>
        <div class="media">
            <div class="pull-left">
                <!-- <img ng-hide="vm.classification" src="http://dummyimage.com/70x70/dddddd/dddddd" alt="" class="media-object"> -->
                <!-- <div ng-show="vm.classification" style="display:inline-block;background-color:{{vm.classification.getColor()}}></div> -->
                <div style="width:70px;height:70px;">
                    <colormap classification="vm.classification" type="disorder"></colormap>    
                </div>
                
            </div>
            <div class="media-body">
                <h1>
                    {{ vm.classification.title || 'Loading...' }}
                </h1>
                <div style="color: rgba(0,0,0,0.5); margin-top: 7px;">
                    <span>
                        <small style="font-size: 16px;">
                            <!-- TODO: Add meta info -->
                            More information could be provided here.
                        </small>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="list-group">
                    <div class="list-group-item" style="padding: 10px; text-align: center;" ng-hide="vm.classification">
                        <i class="fa fa-refresh fa-spin"></i>    
                    </div>
                    <div sf-treepeat="child in disorder_child of vm.rootDisorder">
                        <div ng-show="child.disorder_child.length" class="tree-branch">
                            <div class="tree-branch-item" ng-class="{'selected': child.nid == vm.selectedDisorder.nid}">
                                <a href ng-click="vm.toggleOpen(child)" class="tree-branch-item-arrow">
                                    <i class="fa" ng-class="{'fa-caret-down': child.isOpen && child.isOpenable, 'fa-caret-right': !child.isOpen}">
                                    </i>
                                </a>
                                
                                <div class="tree-branch-item-content" >
                                    <a href ng-click="vm.selectDisorder(child)">
                                        <span class="badge pull-right" style="background-color:#ccc">
                                            {{ child.disorder_child.length }}
                                        </span>
                                        <i class="fa fa-stethoscope"></i> {{ child.title }}
                                    </a>
                                </div>
                            </div>
                            <div ng-show="child.isOpen" class="tree-branch-children" >
                                <div class="tree-branch-children-loading" ng-hide="child.hasLoadedChildren">
                                    <i class="fa fa-refresh fa-spin"></i>    
                                </div>
                                <div sf-treecurse>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-8">
            <!-- <h3 style="margin: 0;">{{ vm.selectedDisorder.disorder_name }}</h3> -->
            <p ng-hide="vm.selectedDisorder.disorder_child.length" class="text-muted">
                No children.
            </p>

            <div class="row" ng-repeat="row in vm.selectedDisorder.disorder_child | filter:filterChildren |  inSlicesOf:2">
                <div class="col-sm-6" ng-repeat="disorder in row">
                    <div class="panel panel-default" ng-class="{'selected-card': vm.initialDisorder.nid == disorder.nid}">
                        <div class="panel-body">
                            <div class="media">
                                <div class="pull-left">
                                    <div style="width:50px;height:50px;">
                                        <colormap classifications="disorder.disorder_class" type="disorder"></colormap>
                                    </div>
                                    <!-- <img src="http://dummyimage.com/40x40/dddddd/dddddd" alt="" class="media-object"> -->
                                </div>
                                <div class="media-body">
                                    <h5>
                                        <a ui-sref="disorder({disorderId: disorder.nid})">
                                            {{ disorder.title }}
                                        </a>
                                    </h5>

                                    <p>An Orphanet summary for this disease is currently under development.</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- disorder_class -->
    <!--    <accordion close-others="oneAtATime">
        <accordion-group heading="{{ child.disorder_name }}" ng-repeat="child in vm.disorder.disorder_child" is-open="child.isOpen">
            <ul class="list-group">
                <li ng-repeat="disorder in child.disorder_child" class="list-group-item" >
                    <a href ng-click="disorder.isOpen = true; vm.selectDisorder(child, disorder)">
                        <i class="fa fa-caret-down" ng-show="disorder.disorder_child.length"></i> {{ disorder.disorder_name }}
                    </a>
                </li>
            </ul>
        </accordion-group>
    </accordion> -->


    <!-- <ul dx-start-with="vm.disorder">
            <li ng-repeat="child in $dxPrior.disorder_child">
                <a href ng-click="child.loadChildren()">{{ child.disorder_name }}</a>
                <ul dx-connect="child"/>
            </li>
        </ul> -->

</div>
