<div class="container">
	<div class="title">
        <h1>All Disorders</h1>
    </div>
    <div class="row" ng-repeat="row in disorders | inSlicesOf:3">
        <div ng-repeat="disorder in row" class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div class="pull-left">
                            <img src="http://dummyimage.com/40x40/dddddd/dddddd" alt="" class="media-object">
                        </div>
                        <div class="media-body">
                            <a ui-sref="disorder({disorderId: disorder.nid})">
                                <strong>
                                    {{ disorder.disorder_name }}
                                </strong>
                            </a>
                            <p>An Orphanet summary for this disease is currently under development.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <button ng-click="loadMore()">Load More</button>
</div>
