<div>
    <style>
    .details {
        float: left;
        margin-bottom: 0;
        margin-right: 20px;
    }
    .detailsa h3 {
        font-size: 14px;
        margin: 0;
        color: rgba(0, 0, 0, 0.87);
    }
    .detailsa {
        color: rgba(0, 0, 0, 0.54);
        margin-bottom: 0;
    }
    </style>

    <div class="container">
        <div class="title">
            <div class="pull-right text-muted">
                Updated {{ disorder.changed * 1000 | date:'d/M/yyyy' }}
            </div>
            <div class="media">
                <div class="pull-left">
                    <img src="http://dummyimage.com/70x70/dddddd/ffffff" alt="" class="media-object">
                </div>
                <div class="media-body">
                    <h1>{{ disorder.title }}
                        <br/>
                    </h1>
                    <div style="color: rgba(0,0,0,0.5); margin-top: 7px;" ng-show="disorder.disorder_synonym.length">
                        <small style="font-size: 16px;">
                            Synonyms:
                            <span ng-repeat="synonym in disorder.disorder_synonym">
                                {{ synonym }}
                                <span ng-show="!$last">,</span>
                            </span>
                        </small>
                    </div>
                    <div style="margin-top: 5px;">
                        <p class="text-muted"></p>
                    </div>

                </div>
            </div>
        </div>

        <div class="panels">

            <div class="row">


                <div class="col-sm-8">
                    <div class="panel panel-default">

                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p>Alexander disease (AxD) is a rare neurodegenerative disorder of the astrocytes comprised of two clinical forms: AxD Type I and Type II (see these terms) manifesting with various degrees of macrocephaly, spasticity, ataxia and seizures and leading to psychomotor regression and death.</p>

                                    <p>The prevalence is unknown. One population based study in Japan estimated an annual incidence of 1/ 2.7 million.</p>

                                    <p>The clinical presentation depends on the subtype. Previously, AxD was classified either as infantile, juvenile or adult, based simply on age of onset. The currently used classification system is based on a constellation of clinical and radiologic features and includes AxD type I and AxD type II (see these terms). AxD type I is more likely to be of early onset (mean 1.74 years) and shorter survival (median 14 years) whereas type II exhibits onset throughout the lifespan (mean 21.64 years, but can occur in early childhood) and has longer survival (median 25 years).</p>
                                </div>

                                <!--<div class="col-sm-3">
                                    <div class="details">
                                        <h3>Prevalence Class</h3>
                                        <div>
                                            <a href="{{ disorder.disorder_prevalence.prevalence_orphaid }}">
                                                    {{ disorder.disorder_prevalence.prevalence_name }}
                                                </a>
                                        </div>
                                    </div>

                                    <div class="details">
                                        <h3>Age of Onset</h3>
                                        <div>
                                            <a href="{{ disorder.disorder_onset.aoo_orphaid }}">
                                                {{ disorder.disorder_onset.aoo_name }}
                                            </a>
                                        </div>
                                    </div>

                                    <div class="details">
                                        <h3>Age of Death</h3>
                                        <div>
                                            <a href="{{ disorder.disorder_death.aod_orphaid }}">
                                                {{ disorder.disorder_death.aod_name }}
                                            </a>
                                        </div>
                                    </div>

                                    <div class="details">
                                        <h3>Type of Inheritance</h3>
                                        <div ng-repeat="inheritance in disorder.disorder_inheritance">
                                            <a href="{{ inheritance.toi_orphaid }}">
                                                {{ inheritance.toi_name }}
                                            </a>
                                        </div>
                                    </div>
                                </div>-->

                            </div>

                        </div>

                        <div class="list-group-item" style="overflow: hidden;">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="details">
                                        <h3>Prevalence Class</h3>
                                        <div>
                                            <a href="{{ disorder.disorder_prevalence.prevalence_orphaid }}">
                                            {{ disorder.disorder_prevalence.prevalence_name }}
                                        </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="details">
                                        <h3>Age of Onset</h3>
                                        <div>
                                            <a href="{{ disorder.disorder_onset.aoo_orphaid }}">
                                            {{ disorder.disorder_onset.aoo_name }}
                                        </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="details">
                                        <h3>Age of Death</h3>
                                        <div>
                                            <a href="{{ disorder.disorder_death.aod_orphaid }}">
                                            {{ disorder.disorder_death.aod_name }}
                                        </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="details">
                                        <h3>Type of Inheritance</h3>
                                        <div ng-repeat="inheritance in disorder.disorder_inheritance">
                                            <a href="{{ inheritance.toi_orphaid }}">
                                                {{ inheritance.toi_name == 'Autosomal dominant' && 'AD' || 'AR' }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h4 style="margin: 0; font-weight: bold; color:rgba(0,0,0,0.6); margin-bottom: 14px; font-size: 14px;">External Identifiers</h4>
                            <dl class="dl-horizontal" style="margin: 0;">
                                <dt style="font-weight: normal; text-align: left;margin-bottom:10px;">Orphanumber</dt>
                                <dd>
                                    <a style="color: rgba(0, 0, 0, 0.5)" target="_" ng-href="http://www.orpha.net/consor/cgi-bin/Disease_Search.php?lng=EN&data_id={{ disorder.disorder_orphaid }}">
                                        ORPHA{{ disorder.disorder_orphanumber }}    
                                    </a>
                                </dd>

                                <dt style="font-weight: normal; text-align: left; margin-bottom:10px;" ng-repeat-start="er in disorder.disorder_er">{{ er.er_source }}</dt>
                                <dd ng-repeat-end style="color: rgba(0, 0, 0, 0.5)">
                                    {{ er.er_reference }}
                                </dd>

                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panels">
            <h2>Classification</h2>
            <p ng-hide="disorder.disorder_parent.length" class="text-muted">
                Root disorder.
            </p>
            <div class="row">

                <div class="col-sm-12">
                    <div class="row" ng-repeat="row in disorder.disorder_parent | inSlicesOf:3">
                        <div class="col-sm-4" ng-repeat="disorder in row">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="media">
                                        <div class="pull-left">
                                            <img src="http://dummyimage.com/40x40/dddddd/dddddd" alt="" class="media-object">
                                        </div>
                                        <div class="media-body">
                                            <a ui-sref="disorder({disorderId: disorder.nid})">
                                                <strong>
                                                    {{ disorder.disorder_name }}
                                                </strong>
                                            </a>
                                            <p>An Orphanet summary for this disease is currently under development.</p>
                                        </div>
                                    </div>

                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div style="font-size: 12px; color: grey; text-transform: uppercase">
                                            Location in hierarchy
                                        </div>

                                        <a href="" ng-click="toggleParents(disorder);">
                                            <i class="fa" ng-class="{
                                                        'fa-caret-right': !disorder.isShowingParents,
                                                        'fa-caret-down': disorder.isShowingParents,
                                            }"></i> {{ disorder.disorder_name }}
                                        </a>
                                        <div dx-start-with="disorder" ng-show="disorder.isShowingParents" style="padding-left: 10px;">
                                            <div ng-repeat="parent in $dxPrior.disorder_parent" ng-click="toggleParents(parent); $event.stopPropagation()" style="padding-left: 20px;">
                                                <a href="">
                                                    <i ng-class="{
                                                        'fa-caret-right': !parent.isShowingParents,
                                                        'fa-caret-down': parent.isShowingParents,
                                                    }" class="fa" ng-show="parent.disorder_parent.length > 0"></i>
                        
                                                    {{ parent.disorder_name }}
                                                </a>
                                                <div dx-connect="parent" ng-show="parent.isShowingParents" />
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panels">
            <h2>Children</h2>
            <p ng-hide="disorder.disorder_child.length" class="text-muted">
                No children.
            </p>

            <div class="row" ng-repeat="disorder in disorder.disorder_child | inSlicesOf:3">
                <div  class="col-sm-4" ng-repeat="disorder in row">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="media">
                                <div class="pull-left">
                                    <img src="http://dummyimage.com/40x40/fbc02d/fbc02d" alt="" class="media-object">
                                </div>
                                <div class="media-body">
                                    <a ui-sref="disorder({disorderId: disorder.nid})">
                                        <strong>
                                            {{ disorder.disorder_name }}
                                        </strong>
                                    </a>
                                    <p>An Orphanet summary for this disease is currently under development.</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="panels">
            <form class="form-inline pull-right" role="form" ng-show="disorder.disorder_disgene.length > 1">
                <div class="form-group">
                    <label class="sr-only" for="exampleInputEmail2">Filter</label>
                    <input type="text" class="form-control panels-filter" id="exampleInputEmail2" placeholder="Filter" ng-model="filterGenotype">
                </div>
                <!-- <button type="submit" class="btn btn-default">Sign in</button> -->
            </form>

            <h2>Genotype</h2>
            <p ng-hide="disorder.disorder_disgene.length" class="text-muted">
                No genotype.
            </p>
            <div class="row" ng-repeat="row in disorder.disorder_disgene | filter:filterGenotype | inSlicesOf:3">
                <div class="col-sm-4" ng-repeat="disorder_gene in row">
                    <div class="panel panel-default" ui-sref="gene({geneId: disorder_gene.disgene_gene.nid })" style="cursor: pointer;">
                        <div class="panel-body">
                            <div class="media">
                                <div class="pull-left">
                                    <img src="http://dummyimage.com/40x40/f57f17/f57f17" alt="" class="media-body">
                                </div>
                                <div class="media-body">
                                    <div>
                                        <strong style="text-transform: capitalize;">{{ disorder_gene.disgene_gene.gene_name }}</strong>({{ disorder_gene.disgene_gene.gene_symbol }}
                                        <span ng-repeat="syn in disorder_gene.disgene_gene.gene_synonym">, {{ syn }}</span>)
                                    </div>
                                    <div>
                                        {{ disorder_gene.disgene_at.dgt_name }} {{ disorder_gene.disgene_as.dga_name }}

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group">
                            <a href="" class="list-group-item">
                                <i class="fa fa-search"></i> View Diseases ({{ disorder_gene.disgene_gene.gene_disgene.length }})
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- http://130.56.248.140/orphanet/api/entity_node/115015/nodes_field_ds_sign?fields=ds_disorder -->

        <div class="panels">
            <!-- <button class="btn btn-default pull-right">Edit</button> -->
            <form class="form-inline pull-right" role="form" ng-show="disorder.disorder_phenotype.length > 1">
                <div class="form-group">
                    <label class="sr-only" for="exampleInputEmail2">Filter</label>
                    <input type="text" class="form-control panels-filter" id="exampleInputEmail2" placeholder="Filter" ng-model="filterPhenotype">
                </div>
                <!-- <button type="submit" class="btn btn-default">Sign in</button> -->
            </form>
            <h2>Phenotype</h2>
            <p ng-hide="disorder.disorder_phenotype.length" class="text-muted">
                No phenotype.
            </p>
            <div class="row" ng-repeat="row in disorder.disorder_phenotype | filter:filterPhenotype | inSlicesOf:3">
                <div class="col-sm-4 repeated-item" ng-repeat="disorder_phenotype in row">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="media">
                                <div class="pull-left">
                                    <img src="http://dummyimage.com/40x40/fdd835/ffffff" alt="" class="media-body">
                                </div>
                                <div class="media-body">
                                    <div>
                                        <!-- <a ui-sref="sign({signId: disorder_phenotype.ds_sign.nid })"> -->
                                        <strong>{{ disorder_phenotype.ds_sign.sign_name }}</strong>
                                        <!-- </a> -->
                                        <p class="" ng-hide="disorder_phenotype.ds_sign.sign_name">Loading...</p>
                                    </div>
                                    <div class="text-muted">
                                        {{ disorder_phenotype.ds_frequency.signfreq_name }}
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="list-group" ng-show="disorder_phenotype.ds_sign.sign_dissign.length">
                            <a class="list-group-item" ui-sref="sign({signId: disorder_phenotype.ds_sign.nid })">
                                <!-- <div class="row" style="font-size: 12px;"> -->
                                <!-- <div class="col-sm-12"> -->
                                <i class="fa fa-search"></i> View Disorders
                                <span class="text-muted text-uppercase">({{ disorder_phenotype.ds_sign.sign_dissign.length }})</span>
                                <!-- </div> -->
                                <!-- </div> -->
                            </a>
                            </ul>

                        </div>
                    </div>
                </div>

            </div>




            <div class="container">
                <div class="row">
                    <!-- <div class="col-sm-2">
                <ul class="list-unstyled">
                    <li>
                        <a href="">Summary</a>
                    </li>

                    <li>24
                        <a href="">Classifications</a>

                    </li>
                    <li>
                        <a href="">Genotype</a>
                    </li>
                    <li>
                        <a href="">Phenotype</a>
                    </li>
                    <li>
                        <a href="">Additional Information</a>
                    </li>
                </ul>
            </div> -->
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-7">
                                <!-- <div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget lectus eget odio gravida pharetra vitae in nulla. Integer ipsum massa, mollis et viverra sed, ullamcorper non arcu. Sed cursus diam posuere, dapibus enim vel, fermentum felis. Vestibulum rutrum consequat orci eu dapibus. Pellentesque ac dui odio. Donec adipiscing tortor eget congue ultricies. Sed semper laoreet auctor. Phasellus eget ornare quam. Ut dui turpis, cursus ac nunc vehicula, pulvinar ornare erat. Suspendisse ac mi quis justo ultrices vehicula. Praesent pretium turpis at varius fermentum. Ut ut ante quis augue posuere mollis. Nulla sodales et libero eget volutpat. Morbi quis arcu quis neque tempus dapibus eu vitae dui.</p>

                            <p>Mauris fringilla facilisis sodales. In mollis elementum lectus, suscipit consectetur odio molestie vitae. Curabitur at rhoncus nulla. Integer vitae elit feugiat, faucibus mi id, tempus purus. Vivamus nec blandit eros. Nullam fermentum dui at elit cursus rhoncus. Phasellus eu metus eu tellus bibendum tincidunt eget volutpat sapien. Donec rutrum pellentesque turpis ut dignissim. Vivamus ut mattis leo. Sed vitae mattis tortor. Pellentesque eu sapien sed augue rhoncus fringilla id eu lectus. Pellentesque auctor laoreet risus eget congue. Cras non lorem mauris</p>
                            <div ng-bind-html="concept.definition | words:200"></div>
                        </div> -->




                                <!-- 
                            <h2>Parents</h2>
                            <div class="panel panel-default" ng-repeat="parent in disorder.disorder_parent">
                                <div class="panel-body">
                                    <a ui-sref="disorder({disorderId: parent.nid})">{{ parent.disorder_name }}</a>
                                </div>
                            </div>

                            <h2>Children</h2>
                            <div class="panel panel-default" ng-repeat="child in disorder.disorder_child">
                                <div class="panel-body">
                                    <a ui-sref="disorder({disorderId: child.nid})">{{ child.disorder_name }}</a>
                                </div>
                            </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
