<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="editVm.cancel()">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">{{ editVm.concept.title }}</h4>
    </div>
    <form role="form">
        <div class="modal-body">
            <div class="form-group">
                <label>
                    Age of Onsent
                </label>
                <select ng-model="editVm.prevalenceClass" ng-options="class as class.title for class in editVm.prevalenceClasses" class="form-control"></select>
            </div>
            <div class="form-group">
                <label>
                    Explain the change
                </label>
                <textarea ng-model="editVm.reason" class="form-control"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="editVm.cancel()">Cancel</button>
            <button type="submit" class="btn btn-primary" ng-click="editVm.save(yo)">Propose Change</button>
        </div>
    </form>
</div>
