<div class="container">
    <!-- <div ng-repeat="disorder in disorders">
		{{ disorder.title | }}
	</div> -->

    <div class="title">
        <div class="pull-right text-muted" ng-hide="geneTracker.active()">
            Updated {{ gene.changed * 1000 | date:'d/M/yyyy' }}
        </div>
        <div class="media">
            <div class="pull-left">
                <img src="http://dummyimage.com/70x70/f57f17/f57f17" alt="" class="media-body">
            </div>
            <div class="media-body">
                <h1>
                    {{ gene.title || 'Loading...' }} 
                    <span ng-hide="geneTracker.active()">({{ gene.gene_symbol }})</span>
                </h1>
                <div style="color: rgba(0,0,0,0.5); margin-top: 7px;" ng-show="gene.gene_synonym.length">
                    <small style="font-size: 16px;">
                        Synonyms:
                        <span ng-repeat="synonym in gene.gene_synonym">
                            {{ synonym }}
                            <span ng-show="!$last">,</span>
                        </span>
                    </small>
                </div>
                <div style="margin-top: 5px;">
                    <p class="text-muted"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="panels">
    	<form class="form-inline pull-right" role="form" ng-show="disorders.length > 1">
            <div class="form-group">
                <label class="sr-only" for="exampleInputEmail2">Filter</label>
                <input type="text" class="form-control panels-filter" id="exampleInputEmail2" placeholder="Filter" ng-model="disordersFilter">
            </div>
            <!-- <button type="submit" class="btn btn-default">Sign in</button> -->
        </form>

        <h2>Disorders</h2>
        <div ng-hide="geneTracker.active();">
            <p ng-hide="disorders.length" class="text-muted">
                Root disorder.
            </p>
            
            <div class="row" ng-repeat="row in disorders | filter:disordersFilter | inSlicesOf:3">
                <div ng-repeat="disorder in row" class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="media">
                                <div class="pull-left">
                                    <img src="http://dummyimage.com/40x40/dddddd/dddddd" alt="" class="media-object">
                                </div>
                                <div class="media-body">
                                    <a ui-sref="disorder({disorderId: disorder.nid})">
                                        <strong>
                                            {{ disorder.disorder_name }}
                                        </strong>
                                    </a>
                                    <p>An Orphanet summary for this disease is currently under development.</p>
                                </div>
                            </div>
            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="spinner" ng-show="geneTracker.active();">
            <i class="fa fa-spin fa-circle-o-notch"></i>
        </div>

    </div>
</div>
