<div class="container">
    <div class="title">
        <h1>All Genes</h1>
    </div>

    <div class="row" ng-repeat="row in genes | filter:filterGenotype | inSlicesOf:3">
        <div class="col-sm-4" ng-repeat="gene in row">
            <div class="panel panel-default" ui-sref="gene({geneId: gene.nid })" style="cursor: pointer;">
                <div class="panel-body">
                    <div class="media">
                        <div class="pull-left">
                            <img src="http://dummyimage.com/40x40/f57f17/f57f17" alt="" class="media-body">
                        </div>
                        <div class="media-body">
                            <div>
                                <h5 style="display: inline">
                                    <a ui-sref="gene({geneId: gene.nid})">{{ gene.gene_name }}</a>
                                </h5>
                                <!--<span ng-repeat="syn in disorder_gene.disgene_gene.gene_synonym">, {{ syn }}</span>)-->
                            </div>
                            <div style="margin-top: 10px;">
                                <div class="detail detail-genotype">
                                    <div class="detail-title">
                                        Symbol:
                                    </div>
                                    <div class="detail-info">
                                        {{ gene.gene_symbol }}
                                    </div>
                                </div>
                                <!--<dl class="dl-horizontal detail detail-externalidentifiers">
                                            <dt class="detail-title">Symbol</dt>
                                            <dd class="detail-info">{{ disorder_gene.disgene_gene.gene_symbol }}</dd>
                                            <dt>
                                                Status
                                            </dt>
                                            <dd>{{ disorder_gene.disgene_as.dga_name }}</dd>
                                        </dl>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-group">
                    <a href="" class="list-group-item">
                        <i class="fa fa-search"></i> View Disorders ({{ gene.gene_disgene.length }})
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="spinner" ng-show="loadingTracker.active()">
        <i class="fa fa-spin fa-circle-o-notch"></i>
    </div>
    <button class="btn btn-default" ng-click="loadMore()" ng-hide="loadingTracker.active()" >Load More</button>
</div>
