<dl class="dl-horizontal detail detail-externalidentifiers" style="margin: 0;">
    <dt class="detail-title">Source</dt>
    <dd class="detail-info">
        {{ prevalence.prevalence_source }}
    </dd>

    <dt class="detail-title">Valmoy</dt>
    <dd class="detail-info">
        {{ prevalence.prevalence_valmoy }}
    </dd>

    <dt class="detail-title">Prevalence Validation</dt>
    <dd class="detail-info">
        {{ prevalence.prevalence_status.title }}
    </dd>

    <dt class="detail-title">Prevalence Qualification</dt>
    <dd class="detail-info">
        {{ prevalence.prevalence_qual.title }}
    </dd>

    <dt class="detail-title">Prevalence Geography</dt>
    <dd class="detail-info">
        {{ prevalence.prevalence_geo.title }}
    </dd>

    <dt class="detail-title">Prevalence Class</dt>
    <dd class="detail-info">
        {{ prevalence.prevalence_class.title }}
    </dd>

    <dt class="detail-title">Prevalence Type</dt>
    <dd class="detail-info">
        {{ prevalence.prevalence_type.title }}
    </dd>
</dl>