<div class="container">
    <div class="title">
        <ol class="breadcrumb" style="margin:0; padding: 0; margin-bottom: 10px;">
            <li><a ui-sref="suggestions">Suggestions</a>
            </li>
            <li class="active">Suggestion #{{ vm.suggestion.nid }}</li>
            <!-- <li><a href="#">Library</a> -->
            <!-- </li> -->
            <!-- <li class="active">Data</li> -->
        </ol>
        <h1>{{ vm.suggestion.title || 'No title' }}</h1>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="pull-right" style="text-align: right;">
                <div>
                    {{ vm.suggestion.created * 1000 | date:'mediumDate' }}
                </div>
                <div class="label label-default">
                    {{ vm.suggestion.tr_status.title }}
                </div>

            </div>

            <div class="media" style="margin-top: 0;">
                <div class="pull-left">
                    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/csswizardry/128.jpg" alt="" class="media-object" style="width:40px;height:40px;" />
                </div>
                <div class="media-body">
                    <div>
                        <a href>
                            <strong><!-- FIXME: get real names -->Dr Anonymous {{ vm.suggestion.$author.name }}</strong>
                        </a>
                    </div>
                    <div>
                        proposed a change - #{{ vm.suggestion.nid }}.
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <h4 style="margin: 0; margin-bottom: 14px;" class="text-capitalize">
                <span ng-bind-html="vm.suggestion.description"></span>
            </h4>

            <div ng-repeat="transaction in vm.suggestion.tr_trans">
                <div style="margin-bottom: 14px;">
                    <div ng-show="transaction.isRefChange">
                        <strong>
                            {{ transaction.ltrans_onprop }}
                        </strong>: {{ transaction.ltrans_cvalref.title || 'Unknown' }}
                        <i class="fa fa-arrow-right"></i>
                        {{ transaction.ltrans_svalref.title }}
                    </div>

                    <div ng-hide="transaction.isRefChange">

                        <div ng-show="transaction.ltrans_onprop=='body'">
                            <div>
                                <strong>
                                {{ transaction.ltrans_onprop }}
                                </strong>:
                            </div>
                            <div ng-bind-html="transaction.ltrans_cvalplain"></div>
                            <div style="margin: 20px 0">
                                <i class="fa fa-arrow-down"></i>
                            </div>
                            <div ng-bind-html="transaction.ltrans_svalplain"></div>
                        </div>
                        <div ng-hide="transaction.ltrans_onprop=='body'">
                            <strong>
                            {{ transaction.ltrans_onprop }}
                            </strong>: {{ transaction.ltrans_cvalplain || 'Unknown' }}
                            <i class="fa fa-arrow-right"></i>
                            {{ transaction.ltrans_svalplain }}
                        </div>
                    </div>
                    

                </div>
            </div>
            <div>
                <div ng-bind-html="vm.suggestion.body.value"></div>
            </div>
            <div>

            </div>
        </div>
    </div>

    <!-- Discussion -->
    <div class="panel panel-default" ng-repeat="comment in vm.comments">
        <div class="panel-heading" style="padding: 15px;">
            <div class="media" style="margin-top: 0;">
                <div class="pull-left">
                    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/aaroni/48.jpg" style="width:20px;height:20px" alt="" />
                    &nbsp;&nbsp;
                    <strong>Dr John Smith</strong>
                </div>
            </div>
        </div>
        <div class="panel-body" style="padding: 15px;" ng-bind-html="comment.text">
        </div>
    </div>

    <div class="panel panel-default" ng-show="vm.isOpen">
        <div class="panel-heading" style="padding: 15px;">
            <div class="media" style="margin-top: 0;">
                <div class="pull-left">
                    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/aaroni/48.jpg" style="width:20px;height:20px" alt="" />
                    &nbsp;&nbsp;
                    <strong>Dr John Smith</strong>
                </div>
            </div>
        </div>
        <div class="panel-body" style="padding: 15px;">
            <textarea msd-elastic="\n" ng-model="vm.comment.text" class="form-control" rows="4"></textarea>
            <div class="pull-right" style="margin-top: 10px;">
                <button class="btn btn-default" ng-click="vm.accept(vm.suggestion)">
                    <i class="fa fa-check"></i> Accept <span ng-show="vm.comment.text.length">and comment</span>
                </button>
                <button class="btn btn-default" ng-click="vm.reject(vm.suggestion)">
                    <i class="fa fa-times"></i> Reject <span ng-show="vm.comment.text.length">and comment</span>
                </button>

                <button class="btn btn-primary" ng-click="vm.addComment(vm.comment)">Comment</button>
            </div>
        </div>
    </div>
    <!-- /Discussion -->


    <!-- Accept / Reject Panel -->
    <!-- <div class="panel panel-default" ng-hide="vm.suggestion.$tr_status.nid < 3">
        <div class="panel-body">
            <div class="pull-left">
                <div style="">
                    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/aaroni/48.jpg" style="width:35px;height:35px" alt="" />
                    &nbsp;&nbsp;
                    <strong>Dr John Smith</strong>
                </div>
            </div>
            <div class="pull-right">
                <button class="btn btn-default" ng-click="vm.accept(vm.suggestion)">
                    <i class="fa fa-check"></i> Accept
                </button>
                &nbsp;
                <button class="btn btn-default" ng-click="vm.reject(vm.suggestion)">
                    <i class="fa fa-times"></i> Reject
                </button>
            </div>
        </div>
    </div> -->
    <!-- /Accept / Reject Panel -->

    

</div>
