<div class="container">
	<div class="title">
        <h1>Suggestions</h1>
    </div>
    
    <div ng-repeat="suggestion in suggestionsVm.suggestions | orderBy:'-created'">
        <div class="panel panel-default">
            <div class="panel-body">
            	<dl>
            		<dt>Concept</dt>
            		<dd>{{ suggestion.ltrans_onnode.title }}</dd>

            		<dt>Old Value</dt>
            		<dd>{{ suggestion.ltrans_cvalref.title }}</dd>

					<dt>
						New Value
					</dt>
					<dd>
						{{ suggestion.ltrans_svalref.title }}
					</dd>

					<dt>
						Suggested By
					</dt>
					<dd>
						{{ suggestion.author.name }}
					</dd>

					<dt>Status</dt>
					<dd>Not Approved</dd>
            	</dl>
            	
            	<div>
            		<button class="btn btn-default" ng-click="suggestionsVm.approve(suggestion)">
            			<i class="fa fa-check"></i> Approve
            		</button>
            		<button class="btn btn-default" ng-click="suggestionsVm.approve(suggestion)">
            			<i class="fa fa-times"></i> Reject
					</button>
            	</div>
            </div>
        </div>
    </div>
</div>
