<div class="container">
    <div class="title">
        <h1>Suggestions</h1>
    </div>
    <div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="btn-group">
                            <label class="btn btn-default" ng-model="vm.isShowingOpen" btn-radio="true" ng-change="vm.suggestionTypeChanged(vm.isShowingOpen)">
                                Open
                                <span class="badge">{{ vm.openSuggestions.length }}</span>
                            </label>
                            <label class="btn btn-default" ng-model="vm.isShowingOpen" btn-radio="false" ng-change="vm.suggestionTypeChanged(vm.isShowingOpen)">
                                Closed
                                <span class="badge">{{ vm.closedSuggestions.length }}</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <input type="text" ng-model="selected" typeahead="state for state in states | filter:$viewValue | limitTo:8" class="form-control" placeholder="Search..." />
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="list-group">
                <div class="list-group-item text-center" ng-show="vm.suggestions === null">
                    <i class="fa fa-spin fa-circle-o-notch"></i>
                </div>
                <div class="list-group-item text-muted" ng-hide="vm.suggestions.length">
                    No suggestions
                </div>
                <div class="list-group-item" ng-repeat="suggestion in vm.suggestions | orderBy:'-changed'">
                    <div class="row">
                        <div class="col-sm-1">
                            <div class="text-muted">
                                #{{ suggestion.nid }}
                            </div>
                        </div>
                        <div class="col-sm-11">
                            <div class="pull-right text-muted text-right">
                                <div>
                                    {{ suggestion.created * 1000 | date:'mediumDate' }}     

                                </div>
                                <div class="label" ng-class="{'label-success': suggestion.tr_status.nid == 1, 'label-danger': suggestion.tr_status.nid == 2}">
                                    {{ suggestion.tr_status.trstatus_value }}
                                </div>
                            </div>
                            <h5>
                                <a ui-sref="suggestion({suggestionId: suggestion.nid})">
                                    {{ suggestion.title }}
                                </a>
                                &nbsp;
                                &nbsp;
                                <i class="fa fa-comment"></i> 3
                            </h5>
                            <div class="text-muted">
                                <!-- FIXME: get real author name somewhere -->
                                Dr {{ suggestion.author.name }} Anonymous
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="row">
        <div class="col-sm-8">
            <div class="list-group">
                <div class="list-group-item">
                    <a>All</a>
                    <a>Open</a>
                    <a>Closed</a>
                    <a>Accepted</a>
                    <a>Rejected</a>
                </div>
                <div class="list-group-item" ng-repeat="request in vm.newRequests | orderBy:'-created'">
                    <div class="media">
                        <div class="pull-left">
                            <img src="http://dummyimage.com/40x40/dddddd/dddddd" alt="" class="media-object">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">
                                <a ui-sref="suggestion({suggestionId: request.nid})">
                                    {{ request.title }}
                                </a>
                            </h4>

                            <p class="text-muted">
                                Proposed by
                                <img src="http://dummyimage.com/20x20/dddddd/dddddd" alt="">{{ request.author.name }}
                                <br/>{{ request.created * 1000 | date:'medium'}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
