<div id="search">
    <div class="jumbotron jumbotron-feature">
        <div class="container">
            <!-- <div class="hero-icon">
            	<img src="images/logo-orphanet.png" alt="">
                <span class="mega-icon fa fa-search"></span>
            </div> -->

            <h1 class="jumbotron-heading">A new way to browse</h1>
            <p class="leading">Quickly find the publications you need using phenotypes and MeSH terms.</p>
        </div>
    </div>

    <div class="sticky" ui-scrollfix="-50">
        <div class="page-nav">
            <div class="container">
                <ul class="nav nav-pills">
                    <li du-scrollspy="search" class="active">
                        <a href="#search" du-smooth-scroll>
                        <i class="fa fa-search"></i> Search</a>
                    </li>
                    <li du-scrollspy="analyse">
                        <a href="#analyse" du-smooth-scroll>
                        <i class="fa fa-filter"></i> Analyse</a>
                    </li>
                    <li du-scrollspy="explore">
                        <a href="#explore" du-smooth-scroll>
                        <i class="fa fa-binoculars"></i> Explore</a>
                    </li>
                    <li du-scrollspy="download">
                        <a href="#download" du-smooth-scroll>
                        <i class="fa fa-cloud-download"></i> Download</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="features">
        <div class="feature-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="hero-icon">
                            <span class="mega-icon fa fa-search"></span>
                        </div>
                        <h3 class="feature-heading">
                            Intelligent Search
                        </h3>
                        <ul class="">
                            <li>
                                Retrieve quickly publications using HPO and MeSH terms.
                            </li>
                            <li>
                                Get direct access to a publication via its title.
                            </li>
                            <li>Combine HPO and MeSH terms for more restrictive queries.
                                
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <img src="http://pubmed-browser.human-phenotype-ontology.org/images/tour-feature-search.8b3b5005.png" alt="" class="feature-image img-responsive">
                    </div>
                </div>
            </div>
        </div>

        <div class="feature-section" id="analyse">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <img src="http://pubmed-browser.human-phenotype-ontology.org/images/tour-feature-search.8b3b5005.png" alt="" class="feature-image img-responsive">
                    </div>
                    <div class="col-sm-6">
                        <div class="hero-icon">
                            <span class="mega-icon fa fa-filter"></span>
                        </div>

                        <h3 class="feature-heading">
                            Advanced Analysis
                        </h3>
                        <ul class="">
                            <li>
                                Gain quickly insight into pair-wise associations, including HPO - HPO, MeSH - HPO or MeSH - MeSH
                            </li>
                            <li>
                                Filter quickly publications using HPO and MeSH facets
                            </li>
                            <li>
                                Get direct access to HPO and MeSH term-based views
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="feature-section" id="explore">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="hero-icon">
                            <span class="mega-icon fa fa-binoculars"></span>
                        </div>

                        <h3 class="feature-heading">
                            Insightful Exploring
                        </h3>
                        <ul class="">
                            <li>Gain a comprehensive understanding of the HPO terms associated with a MeSH disease</li>
                            <li>Get direct access to the corresponding Disease Ontology ID</li>
                            <li>View the MeSH term in the Disease Network context</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <img src="http://pubmed-browser.human-phenotype-ontology.org/images/tour-feature-search.8b3b5005.png" alt="" class="feature-image img-responsive">
                    </div>
                </div>
            </div>
        </div>

        <div class="feature-section feature-section-download" id="download">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <img src="http://pubmed-browser.human-phenotype-ontology.org/images/tour-feature-search.8b3b5005.png" alt="" class="feature-image img-responsive">
                    </div>
                    <div class="col-sm-6">
                        <div class="hero-icon">
                            <span class="mega-icon fa fa-cloud-download"></span>
                        </div>
                        <h3 class="feature-heading">
                            Ready to Download
                        </h3>
                        <ul class="">
                            <li>Download HPO and MeSH annotations associated with a publication in a tabular format</li>
                            <li>Download HPO annotations for MeSH diseases</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="start-searching">
            <div class="container">
                <h3 class="start-searching-heading">
                    Ready to go?
                </h3>
                <button class="btn btn-primary btn-lg" ui-sref="search"><i class="fa fa-search"></i> Start Searching</button>
            </div>
        </div>-->

    </div>
</div>
